* {
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
}

.login-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 3;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.uol-icon {
    width: 130px;
    height: 92px;
    margin-top: 72px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 94px;
}

.loading {
    display: none;
    flex-direction: column;
    align-items: center;
}

.loading img {
    width: 180px;
    height: 180px;
    margin-top: 80px;
}

.loading span {
    font-size: 22px;
    font-weight: 500;
    padding-top: 20px;
    padding-left: 25px;
}

.failure {
    margin-top: 40px;
    color: red;
    font-size: 18px;
    padding: 0px 30px;
    text-align: center;
}

.failure strong {
    font-weight: 700;
}


.form :first-child {
    margin-bottom: 15px;
    width: 261px;
    height: 54px;
    /* background: #FFFFFF; */
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    outline: none;
}

.form :first-child::placeholder {
    color: #AEAEAE;
}

.form :last-child {
    width: 109px;
    height: 45px;
    background-color: #E7E7E7;
    border-radius: 9px;
    border: none;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 45px;
    padding: 0px 22px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header img {
    width: 75px;
    height: 53px;
}

main {
    background-color: aqua;
    width: 100vw;
    height: calc(100vh - 186px);
    margin-top: 106px;
    overflow-y: scroll;
    background-color: #F3F3F3;
    overflow-x: hidden;
}

.message:last-of-type {
    margin-bottom: 0px;
}

.message {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    min-height: 20px;
    margin-bottom: 4px;
    padding: 10px 9px 10px 8px;
    padding-left: 8px;
    padding-right: 9px;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: black;
    border-radius: 2px;
}

.message span {
    color: #AAAAAA;
    padding-right: 8px;
}

.message strong {
    font-weight: 700;
    max-width: 100px;
    text-overflow: ellipsis;
}

.status {
    background-color: #DCDCDC;
}

.private {
    background-color: #FFDEDE;
}


footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    padding-left: 17px;
    padding-right: 27px;
}

footer input {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 30px;
    border: none;
    outline-style: none;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: black;
}
footer input::placeholder{
    color: black;
}
.message-display{
    width: 300px;
    height:64px;
    margin-top: 15px;
}
footer span{
    display: block;
    width: 100%;
    color: #505050;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
}

footer ion-icon {
    font-size: 26px;
}

.blur {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s linear;
}

.hidden {
    display: none;
}

nav {
    width: 0px;
    height: 100%;
    z-index: 2;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: #FFFFFF;
    overflow-x: hidden;
    transition: .5s linear;
}

.show {
    width: 259px;
}

h1 {
    width: 259px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    padding: 23px 45px;
    text-align: center;
}

.contacts {
    margin-top: 4px;
    font-size: 16px;
    line-height: 19px;
}

.contacts ion-icon {
    font-size: 25px;
    margin-right: 8px;
}

.contacts span {
    width: 160px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.option img {
    width: 15px;
    position: absolute;
    right: 27px;
    display: none;
}

.option.selected img {
    display: block;
}

nav li {
    width: 259px;
    height: 36px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0px 17px;
}

.message-options {
    width: 259px;
    margin-top: 4px;
    font-size: 16px;
    line-height: 19px;
    display: block;
}

.message-options ion-icon {
    font-size: 22px;
    padding-right: 8px;
}